{# needed for ajax html output #}
{% for message in messenger.getmessages() %}
    {{ include('@ZikulaIntercomModule/Layouts/Classic/trash/message.html.twig') }}
{% else %}
    <div class="list-group-item list-group-item-warning col-md-12 alert alert-info">{{ __('You currently have no messages in trash.') }}</div>
{% endfor %}