{* $Id$ *}
{pageaddvar name="javascript" value="prototype"}
{pageaddvar name="javascript" value="javascript/ajax/validation.js,modules/InterCom/javascript/intercom.js,modules/InterCom/pnjavascript/facebooklist.js"}
{pageaddvar name="javascript" value="javascript/helpers/texpand.js"}
{pageaddvar name="stylesheet" value="modules/InterCom/style/facebooklist.css"}
{pagesetvar name=title value=$ictitle}
<script type="text/javascript">
    //  ![CDATA[[
    Ajax.Responders.register({
        onCreate: function(){ Element.show('spinner')},
        onComplete: function(){Element.hide('spinner')}
    });
    // ]]
</script>
<div id="intercom">
    <h2>{gt text="Private messaging"}
        <img alt="spinner" id="spinner" src="modules/InterCom/pnimages/ajax-loader.gif"
        style="display:none;" />
    </h2>

    {include file="intercom_user_navigation.htm"}
    {insert name="getstatusmsg"}