{{ adminHeader() }}
<h3>
    <span class="fa fa-bullhorn"></span> {{ __('Notifications')}}
</h3>
<div class="container-fluid">
    <div class="row">
        <div class="alert alert-warning" role="alert"><strong>Warning!</strong> Under construction will be back soon.</div>
        <div class="col-sm-6">     
        </div>
        <div class="col-sm-6">
        </div>    
    </div>
</div>
{{ adminFooter() }}
