<div id="message-{{ message.id }}" class="{#{% if align %} bg-warning{% endif %} #}clearfix">
    <p class="reply_content">
        {{ include('@ZikulaIntercomModule/Layouts/Classic/inbox/message.sender.html.twig') }}
        <span class="reply_message_text">{{ message.text }}</span>
        <span class="text-muted small text-right"><i class="fa fa-clock-o"> </i> {{ message.sent|time_diff }}</span>
    </p>
</div>