<div id="intercom_search" class="col-md-5 pull-right">
    <div class="input-group">
        <span class="input-group-addon" id="box_{{ box }}_search">{{ title_icon|raw }}</span>
        <input type="text" class="form-control" placeholder="{{ __('Search') }}" aria-describedby="box_{{ box }}_search">
    </div>
</div>
