/**
* $Id$
*
*
*/
/*******************************************************************************/
/* TextboxList CSS
/*******************************************************************************/

#intercom .ic-inputbox-username {
    position: relative;
    display: block;
    z-index:3;
}
#intercom .ic-inputbox-groupname {
    position: relative;
    display: block;
    z-index:2;
}
#intercom ul.holder {
    background:#fbfbfb;
    border:1px solid #999;
    color:#494949;
    display:block;
    margin:0;
    overflow:hidden;
    padding: 4px 5px 0;
    height: auto !important;
}
*:first-child+html #intercom ul.holder {
    padding-bottom: 2px;
}
* html #intercom ul.holder { /* ie7 and below */
    padding-bottom: 2px;
}
#intercom ul.holder li {
    float:left;
    list-style-type:none;
    margin: 0 5px 4px 0;
}
#intercom ul.holder li.bit-box,
#intercom ul.holder li.bit-input input {
    font: 11px "Lucida Grande", "Verdana";
}
#intercom ul.holder li.bit-box {
    border: 1px solid #CAD8F3;
    background: #DEE7F8;
    padding: 1px 5px 2px;
}
#intercom ul.holder li.bit-box-focus {
    border-color: #598BEC;
    background: #598BEC;
    color: #fff;
}
#intercom ul.holder li.bit-input input {   /* no left/right padding here please */
    background:inherit;
    width: 150px;
    margin: 0;
    border: none;
    outline: 0;
    padding: 3px 0 2px;
}
#intercom ul.holder li.bit-input input.smallinput {
    width: 20px;
}

/*******************************************************************************/
/* Facebook CSS
/*******************************************************************************/

#intercom .ic-formrow {
    list-style-type: none;
    border-top: 0px solid #ccc;
    margin: 0.5em 0px 1em;
}
#intercom form ol {
    list-style-type:none;
    margin: 0;
    padding: 0;
}
#intercom form ol .ic-formrow label {
    display: inline;
    color: #494949;
    margin: 0px;
    padding-right: 8px;
    text-align: left;
    line-height: 170%;
}
#intercom form ol .ic-formrow input {
    width: 99%;
    padding: 6px 3px;
    border: 1px solid #999;
    font: 11px "Lucida Grande", "Verdana";
}
#intercom ul.holder li.bit-box {
    padding-right: 15px;
    position: relative;
}
#intercom ul.holder li.bit-hover {
    background: #BBCEF1;
    border: 1px solid #6D95E0;
    cursor: pointer;
}
#intercom ul.holder li.bit-box-focus {
    border-color: #598BEC;
    background: #598BEC;
    color: #fff;
}
#intercom ul.holder li.bit-box a.closebutton {
    position: absolute;
    right: 4px;
    top: 5px;
    display: block;
    width: 7px;
    height: 7px;
    font-size: 1px;
    background: url(../pnimages/close.gif);
    padding:0;
}
#intercom ul.holder li.bit-box a.closebutton:hover {
    background-position: 7px;
}
#intercom ul.holder li.bit-box-focus a.closebutton,
#intercom ul.holder li.bit-box-focus a.closebutton:hover {
    background-position: bottom;
}

/*******************************************************************************/
/* Autocompleter
/*******************************************************************************/

#list-user,
#list-group {
    background:#EEEEEE;
    display:none;
    position:absolute;
    width:100%;
    z-index:1000;
    font: 11px "Lucida Grande", "Verdana";
}
#list-user .default ,
#list-group .default {
    padding: 5px 7px;
    border: 1px solid #ccc;
    border-width: 0 1px 1px;
}
#list-user ul,
#list-group ul {
    display: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
#list-user ul li,
#list-group ul li {
    border-color:#ccc;
    border-style:solid;
    border-width:0 1px 1px;
    cursor:pointer;
    line-height:13px;
    list-style-type:none;
    margin:0;
    padding:5px 12px;
    z-index:1000;
}
#list-user ul li em,
#list-group ul li em {
    font-weight: bold;
    font-style: normal;
    background: #ccc;
}
#list-user ul li.auto-focus,
#list-group ul li.auto-focus {
    background: #4173CC;
    color: #fff;
}
#list-user ul li.auto-focus em,
#list-group ul li.auto-focus em { background: none; }
