<div class="conversations-footer list-group-item list-group-item-info clearfix">
    <div class="row">
        <div class="footer-actions col-md-4 pull-right">
            <div class="btn-group btn-group-sm pull-right">
                <a type="button" data-action="toggle-select" class="multi-toggle-select btn text-default hide" title="{{ __('Select all') }}"><i class='fa fa-check-square'></i> </a>
            </div>
        </div>
        <div class="footer-pager col-md-8">
            {{ include('@ZikulaIntercomModule/Layouts/Classic/sent/pager.html.twig') }}
        </div>
        {#        {{ render(controller('ZikulaIntercomModule:User:usagestatus', {'box':'inbox'})) }}#}
    </div>
</div>